chat/chat
memo.txt
twitter_env.sh
avatars/
db/
*.jpg
*.png
sprinkle/sprinkle
domainify/domainify
coolify/coolify
synonyms/synonyms
available/available
domainfinder/lib/*
domainfinder/domainfinder
domainfinder/abc
socialpoll/counter/counter
socialpoll/twittervotes/twittervotes
.vscode/
backup/cmds/backup/backupdata
backup/cmds/backup/backup
backup/cmds/backup/test*
backup/cmds/backupd/backupd
backup/cmds/backupd/archive/**/*
backup/cmds/backupd/test*/**/*
meander/cmd/meanderapi
