<!doctype html>
<html lang="ja">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="card">
            <div class="card-header">
                <h1>Sign in</h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">チャットを行うにはサインインが必要です</h5>
                <div class="card-text">
                    <p>サインインに使用するサービスを選んでください:</p>
                    <a class="btn btn-primary" href="/auth/login/facebook">Facebook</a>
                    <a class="btn btn-primary" href="/auth/login/github">GitHub</a>
                    <a class="btn btn-primary" href="/auth/login/google">Google</a>
                </div>
            </div>
        </div>
    </body>
</html>
